body{
      margin:0px;
      background-image:url("")
}


.jumbotron{
      background:#444aaa;
      padding-top:32px;
      padding-bottom:32px;
      font-size: 4em;
      color:white;    
}

h2{
      font-size:28px;
      padding: 1rem;
}

input{
      margin-left:2rem
}




p {
      padding: 1rem;
}






.card-header{
background:#444aaa;
color:white
}

.form-control{
      margin-top:20px;
      width: 31%
}


.card-body{
      margin-bottom:1px;
}

button{
      
      background:#444aaa;
      color:white;
      position: relative;
    top: -54px;
    left: 15rem;
}




